body
{
	background-image: url("Screenshot\ \(50\).png");
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player_1 , #player_2
{
	display: inline-block;
	margin-left: 0px;
}
#div1 , #div2
{
   background-color: yellowgreen;
}

